html {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}

body {
  margin:0;
  padding:0;
  background:url(../img/beach.jpg);
  background-color: #19DDEA;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1 {
  font-family: serif;

}

#cabin {
  height: 400px;
  width: 700px;
  border-radius: 5%;
}

p {
  font-family: sans-serif;
}

/*
#menu {
  background-color: #129524;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 10%;
}
*/


a {
  text-decoration: none;
}

a:hover {

}
